### Imports

In [82]:
import numpy as np
import pandas as pd

### Read Data Sets

In [83]:
types = {'SP_NAIH': str, 'SP_ATOPROF': str, 'SP_CIDPRI': str, 'SP_QTD_ATO': np.int32}

#### CIDS

In [84]:
o_cids = pd.read_csv('../csv/o_cids.csv', sep=';')
o_cids.head()

         influence_type  code                           description
0  Morte Materna Direta  O000                    Gravidez abdominal
1  Morte Materna Direta  O001                      Gravidez tubária
2  Morte Materna Direta  O002                     Gravidez ovariana
3  Morte Materna Direta  O008    Outras formas de gravidez ectópica
4  Morte Materna Direta  O009  Gravidez ectópica, não especificada

#### Procedures

In [85]:
procedures = pd.read_csv('../data/procedimentos_obstetricia.csv', sep=';')
procedures.head()

        CODE                                        DESCRIPTION
0  205020143                        Ultrassonografia obstétrica
1  205020186                      Ultrassonografia transvaginal
2  205010059       Ultrassonografia doppler de fluxo obstétrico
3  205020151  Ultrassonografia obstétrica com doppler colori...
4  201010011                                       Amniocentese

#### March

In [86]:
df_sp_mar = pd.read_csv('../../sp_csv/SPSP1803.csv', sep=',', usecols=types.keys(), dtype=types)
df_sp_mar["SP_ATOPROF"] = df_sp_mar["SP_ATOPROF"].str[1:]
df_sp_mar.head()

         SP_NAIH SP_ATOPROF  SP_QTD_ATO SP_CIDPRI
0  3518100401101  303010061           1       A09
1  3518100401101  301010170           8       A09
2  3518100401101  301010170           1       A09
3  3518100401101  301010170           1       A09
4  3518100401101  802010040           1       A09

In [87]:
df_sp_mar.shape

(3081817, 4)

##### Filter CID

In [88]:
df_sp_mar_cids = df_sp_mar.merge(o_cids, left_on='SP_CIDPRI', right_on='code', how='left').drop('code', axis=1)

df_sp_mar_cids = df_sp_mar_cids[df_sp_mar_cids['influence_type'].notna()]

In [132]:
df_sp_mar_cids.shape

(568700, 6)

##### Filter Procedures

In [90]:
df_sp_mar_proc = df_sp_mar.merge(procedures, left_on='SP_ATOPROF', right_on='CODE', how='left').drop('CODE', axis=1)
df_sp_mar_proc = df_sp_mar_proc[df_sp_mar_proc['DESCRIPTION'].notna()]

In [133]:
df_sp_mar_proc.shape

(169809, 5)

#### April

In [134]:
df_sp_apr = pd.read_csv('../../sp_csv/SPSP1804.csv', sep=',', usecols=types.keys(), dtype=types)
df_sp_apr["SP_ATOPROF"] = df_sp_apr["SP_ATOPROF"].str[1:]
df_sp_apr.shape

(3088703, 4)

##### Filter CIDS

In [94]:
df_sp_apr_cids = df_sp_apr.merge(o_cids, left_on='SP_CIDPRI', right_on='code', how='left').drop('code', axis=1)
df_sp_apr_cids = df_sp_apr_cids[df_sp_apr_cids['influence_type'].notna()]

In [135]:
df_sp_apr_cids.shape

(565244, 6)

In [96]:
df_sp_apr_cids.shape

(565244, 6)

##### Filter Procedures

In [97]:
df_sp_apr_proc = df_sp_apr.merge(procedures, left_on='SP_ATOPROF', right_on='CODE', how='left').drop('CODE', axis=1)
df_sp_apr_proc = df_sp_apr_proc[df_sp_apr_proc['DESCRIPTION'].notna()]

In [136]:
df_sp_apr_proc.shape

(167604, 5)

#### RD

In [99]:
aih_types = {'N_AIH': str, 'SEXO': np.int32, 'IDADE': np.int32,'INSTRU':np.int32,}

In [100]:
df_rd = pd.read_csv('/home/gxfs/Downloads/sih_sus_m_10_49.csv', sep='|', usecols=aih_types.keys(), dtype=aih_types)
df_rd.head()

           N_AIH  SEXO  IDADE  INSTRU
0  3518101448609     3     10       0
1  3518101279825     3     47       0
2  3518101457475     3     25       0
3  3518101457662     3     49       0
4  3518101525246     3     14       0

### Concatenate March and April

In [101]:
# como as tabelas resultantes do filtro de procedimentos não retornaram valores, vamos concatenar apenas as de cid
df_concat_sp_mar_apr = pd.concat([df_sp_mar_cids, df_sp_mar_proc, df_sp_apr_cids, df_sp_apr_proc])
df_concat_sp_mar_apr.shape

(1471357, 7)

In [102]:
df_concat_sp_mar_apr.drop_duplicates(inplace=True)

In [103]:
df_sp_mar_cids.shape[0] + df_sp_apr_cids.shape[0]

1133944

In [104]:
del df_sp_mar
del df_sp_apr

### Left Merge between SP and RD datasets

In [105]:
# merged_dfs = sp_df.merge(o_cids, left_on='SP_CIDPRI', right_on='code', how='left').drop('code', axis=1)
merged_sp_rd = df_concat_sp_mar_apr.merge(df_rd, left_on='SP_NAIH', right_on='N_AIH', how='left').drop('N_AIH', axis=1)

In [106]:
merged_sp_rd.shape

(1204467, 10)

In [107]:
merged_sp_rd = merged_sp_rd[merged_sp_rd['SEXO'].notna()]
merged_sp_rd.shape

(1190649, 10)

In [108]:
df_rd.head()

           N_AIH  SEXO  IDADE  INSTRU
0  3518101448609     3     10       0
1  3518101279825     3     47       0
2  3518101457475     3     25       0
3  3518101457662     3     49       0
4  3518101525246     3     14       0

### Group by AIH Number

In [109]:
group_by_aih = merged_sp_rd.groupby('SP_NAIH').count()['SP_ATOPROF']
group_by_aih

SP_NAIH
3517103370550     7
3517105344490    17
3517105347096    16
3517105347349    24
3517105348724    26
                 ..
3518500587437     1
3518500617148     1
3518500639269     1
3518500649830     1
3518502074208     2
Name: SP_ATOPROF, Length: 85131, dtype: int64

In [110]:
group_by_aih.isna().sum()

0

In [112]:
group_by_aih.describe()

count    85131.000000
mean        13.986080
std          6.843525
min          1.000000
25%         10.000000
50%         14.000000
75%         17.000000
max        400.000000
Name: SP_ATOPROF, dtype: float64

In [125]:
group_by_aih[group_by_aih.where(group_by_aih > 90).notna()].sort_values(ascending=False).head(10)

SP_NAIH
3517107562881    400
3517128148556    177
3517126938336    138
3517128303238    117
3518101249234    115
3517128303216    111
3518102279373     93
3518104118518     93
3517128302765     92
3518115764383     91
Name: SP_ATOPROF, dtype: int64

### Group by ATO PROF

In [144]:
group_by_proc = merged_sp_rd.groupby('SP_ATOPROF').count()['SP_NAIH']
group_by_proc

SP_ATOPROF
101020066        6
101020074        1
201010011        9
201010020        1
201010216        1
             ...
802010032    33988
802010083      393
802010091       98
802010105       28
802010199     3793
Name: SP_NAIH, Length: 633, dtype: int64

In [129]:
group_by_proc.describe()

count      633.000000
mean      1880.962085
std       8411.129658
min          1.000000
25%          3.000000
50%         13.000000
75%        209.000000
max      85083.000000
Name: SP_NAIH, dtype: float64

In [145]:
group_by_proc[group_by_proc.where(group_by_proc > 10000).notna()].sort_values(ascending=False).head(20)

SP_ATOPROF
214010040    85083
211040061    83083
310010039    66469
301010170    62649
310010020    62406
301010145    60989
202031179    58202
202120023    48572
417010010    41673
411010034    40071
802010032    33988
202020380    29324
202020541    26692
301010048    26554
202120082    20846
801010039    20772
211070149    20134
303100044    16620
801010047    16510
417010028    14229
Name: SP_NAIH, dtype: int64

In [183]:
top_20_gb_proc = group_by_proc[group_by_proc.where(group_by_proc > 10000).notna()].sort_values(ascending=False).head(20)
top_20_gb_proc_df = pd.DataFrame(data = top_20_gb_proc.values, columns = ['QTD'], index = top_20_gb_proc.index)
top_20_gb_proc_df
mergex = top_20_gb_proc_df.merge(procedures, left_on='SP_ATOPROF', right_on='CODE', how='right')
mergex

        QTD         CODE                                        DESCRIPTION
0       NaN    205020143                        Ultrassonografia obstétrica
1       NaN    205020186                      Ultrassonografia transvaginal
2       NaN    205010059       Ultrassonografia doppler de fluxo obstétrico
3       NaN    205020151  Ultrassonografia obstétrica com doppler colori...
4       NaN    201010011                                       Amniocentese
5       NaN    211040010                                        Amnioscopia
6   83083.0    211040061                         Tococardiografia anteparto
7   85083.0    214010040      Teste rápido para detecção de HIV em gestante
8       NaN    310010012                  Assistência ao parto sem distócia
9   66469.0    310010039                                       Parto normal
10      NaN    310010047             Parto normal em gestação de alto risco
11      NaN    310010055       Parto normal em centro de parto normal (CPN)
12      NaN    303100010  Tratamento de complicações relacionadas predom...
13      NaN    303100028                            Tratamento de eclâmpsia
14      NaN    303100036  Tratamento de edema, proteinúria e transtornos...
15  16620.0    303100044  Tratamento de intercorrências clínicas na grav...
16      NaN    303100052                     Tratamento de mola hidatiforme
17      NaN  0409060011                          Cerclagem de colo do útero
18      NaN    409060046  Curetagem semiótica com ou sem dilatação do co...
19      NaN    409060054              Curetagem uterina em mola hidatiforme
20      NaN    409060062                         Dilatação de colo de útero
21      NaN    409060070  Esvaziamento de útero pós-aborto por aspiração...
22      NaN    409060160                                      Histerorrafia
23      NaN    411010018                    Descolamento manual de placenta
24      NaN    411010026          Parto cesariano em gestação de alto risco
25  40071.0    411010034                                    Parto cesariano
26      NaN    411010042             Parto cesariano com laqueadura tubária
27      NaN    411010050  Redução manual de inversão uterina aguda pós-p...
28      NaN    411010069               Ressutura de episiorrafia pós-parto
29      NaN    411010077  Sutura de lacerações de trajeto pélvico (no pa...
30      NaN    411010085  Tratamento cirúrgico de inversão uterina aguda...
31      NaN    411020013                Curetagem pos-abortamento/puerperal
32      NaN    411020021                                        Embriotomia
33      NaN    411020030                            Histerectomia puerperal
34      NaN    411020048          Tratamento cirúrgico de gravidez ectópica
35      NaN    411020056  Tratamento de outros transtornos maternos rela...
36  14229.0    417010028              Analgesia Obstétrica p/ Parto Normal
37  41673.0    417010010                 Anestesia Obstétrica p/ Cesariana
38      NaN    417010036  Anestesia Obstétrica p/ Cesariana em Gestaça...
39      NaN  0603040012                 Administração de Cabergolina 0,5mg
40      NaN    603030017                             Imunoglobulina anti-Rh

In [184]:
mergex[mergex['QTD'].notna()]

        QTD       CODE                                        DESCRIPTION
6   83083.0  211040061                         Tococardiografia anteparto
7   85083.0  214010040      Teste rápido para detecção de HIV em gestante
9   66469.0  310010039                                       Parto normal
15  16620.0  303100044  Tratamento de intercorrências clínicas na grav...
25  40071.0  411010034                                    Parto cesariano
36  14229.0  417010028              Analgesia Obstétrica p/ Parto Normal
37  41673.0  417010010                 Anestesia Obstétrica p/ Cesariana

In [188]:
gb_proc = group_by_proc[group_by_proc.notna()].sort_values(ascending=False)
gb_proc_df = pd.DataFrame(data = gb_proc.values, columns = ['QTD'], index = gb_proc.index)
gb_proc_df
gb_proc_desc_df = gb_proc_df.merge(procedures, left_on='SP_ATOPROF', right_on='CODE', how='left')
gb_proc_desc_df[gb_proc_desc_df['DESCRIPTION'].notna()].to_csv()

',QTD,CODE,DESCRIPTION\n0,85083,214010040,Teste rápido para detecção de HIV em gestante\n1,83083,211040061,Tococardiografia anteparto\n2,66469,310010039,Parto normal\n8,41673,417010010,Anestesia Obstétrica p/ Cesariana\n9,40071,411010034,Parto cesariano\n17,16620,303100044,Tratamento de intercorrências clínicas na gravidez\n19,14229,417010028,Analgesia Obstétrica p/ Parto Normal\n20,13912,417010036,Anestesia Obstétrica p/ Cesariana em Gestação de Alto Risco\n21,13851,411010026,Parto cesariano em gestação de alto risco\n22,13844,211040010,Amnioscopia\n23,13676,205020143,Ultrassonografia obstétrica\n27,10154,411020013,Curetagem pos-abortamento/puerperal\n31,7884,310010047,Parto normal em gestação de alto risco\n36,6608,603030017,Imunoglobulina anti-Rh\n40,5341,205020186,Ultrassonografia transvaginal\n47,3969,205020151,Ultrassonografia obstétrica com doppler colorido e pulsado\n55,3747,205010059,Ultrassonografia doppler de fluxo obstétrico\n60,2653,411010042,Parto cesariano com laqueadura tubária\n91,865,303100010,Tratamento de complicações relacionadas predominantemente ao puerpério\n94,823,411020048,Tratamento cirúrgico de gravidez ectópica\n107,666,303100036,"Tratamento de edema, proteinúria e transtornos hipertensivos na gravidez, parto e puerpério."\n117,525,411010077,Sutura de lacerações de trajeto pélvico (no parto antes da admissão)\n120,501,409060046,Curetagem semiótica com ou sem dilatação do colo uterino\n129,424,310010055,Parto normal em centro de parto normal (CPN)\n144,326,409060070,Esvaziamento de útero pós-aborto por aspiração manual intra-uterina (AMIU)\n181,126,411020030,Histerectomia puerperal\n186,109,409060054,Curetagem uterina em mola hidatiforme\n203,81,303100028,Tratamento de eclâmpsia\n253,30,411010018,Descolamento manual de placenta\n290,20,411020056,Tratamento de outros transtornos maternos relacionados predominantemente à gravidez\n334,11,409060160,Histerorrafia\n349,9,201010011,Amniocentese\n435,4,411020021,Embriotomia\n437,4,303100052,Tratamento de mola hidatiforme\n438,4,411010085,Tratamento cirúrgico de inversão uterina aguda pós-parto\n443,4,411010050,Redução manual de inversão uterina aguda pós-parto\n'