In [1]:
import pandas as pd

### Read complete CID-10 csv

In [2]:
o_cids = pd.read_csv('csv/o_cids.csv', sep=';')
o_cids.head()

         influence_type  code                           description
0  Morte Materna Direta  O000                    Gravidez abdominal
1  Morte Materna Direta  O001                      Gravidez tubária
2  Morte Materna Direta  O002                     Gravidez ovariana
3  Morte Materna Direta  O008    Outras formas de gravidez ectópica
4  Morte Materna Direta  O009  Gravidez ectópica, não especificada

### Read SP - RJ - 2015 - Jan

In [3]:
sp_df = pd.read_csv('~/SPSP/SPSP1801.csv')
sp_df.head()

/home/user4/.local/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (16,25) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,SP_GESTOR,SP_UF,SP_AA,SP_MM,SP_CNES,SP_NAIH,SP_PROCREA,SP_DTINTER,SP_DTSAIDA,SP_NUM_PR,...,SP_PF_DOC,SP_PJ_DOC,IN_TP_VAL,SEQUENCIA,REMESSA,SERV_CLA,SP_CIDPRI,SP_CIDSEC,SP_QT_PROC,SP_U_AIH
0,352800,35,2018,1,2082942,3518112635851,303060190,20180116,20180117,NaN,...,0,2082942,1,30,HM35280001N201801.DTS,0,I219,0,1,0
1,352800,35,2018,1,2082942,3518112635862,303070072,20180106,20180109,NaN,...,0,2082942,1,31,HM35280001N201801.DTS,0,K729,0,1,0
2,352800,35,2018,1,2082942,3518112635873,303030046,20180106,20180107,NaN,...,0,2082942,1,32,HM35280001N201801.DTS,0,E86,0,1,0
3,352800,35,2018,1,2082942,3518112635884,301060088,20180105,20180106,NaN,...,0,2082942,1,33,HM35280001N201801.DTS,0,L020,0,1,0
4,352800,35,2018,1,2082942,3518112635895,303010037,20180109,20180111,NaN,...,0,2082942,1,34,HM35280001N201801.DTS,0,A415,0,1,0

### Left join with the CIDs DF

In [4]:
merged_dfs = sp_df.merge(o_cids, left_on='SP_CIDPRI', right_on='code', how='left').drop('code', axis=1)
merged_dfs.head()

,SP_GESTOR,SP_UF,SP_AA,SP_MM,SP_CNES,SP_NAIH,SP_PROCREA,SP_DTINTER,SP_DTSAIDA,SP_NUM_PR,...,IN_TP_VAL,SEQUENCIA,REMESSA,SERV_CLA,SP_CIDPRI,SP_CIDSEC,SP_QT_PROC,SP_U_AIH,influence_type,description
0,352800,35,2018,1,2082942,3518112635851,303060190,20180116,20180117,NaN,...,1,30,HM35280001N201801.DTS,0,I219,0,1,0,NaN,NaN
1,352800,35,2018,1,2082942,3518112635862,303070072,20180106,20180109,NaN,...,1,31,HM35280001N201801.DTS,0,K729,0,1,0,NaN,NaN
2,352800,35,2018,1,2082942,3518112635873,303030046,20180106,20180107,NaN,...,1,32,HM35280001N201801.DTS,0,E86,0,1,0,NaN,NaN
3,352800,35,2018,1,2082942,3518112635884,301060088,20180105,20180106,NaN,...,1,33,HM35280001N201801.DTS,0,L020,0,1,0,NaN,NaN
4,352800,35,2018,1,2082942,3518112635895,303010037,20180109,20180111,NaN,...,1,34,HM35280001N201801.DTS,0,A415,0,1,0,NaN,NaN

### Number of lines

In [5]:
number_of_lines = merged_dfs.shape[0]
number_of_lines

2966364

In [6]:
not_matched_count = merged_dfs.isna().sum()[3]
not_matched_count

0

In [7]:
percentage = round((number_of_lines - not_matched_count)/ number_of_lines * 100,2) 
print()
print(f'percentage of values that match the codes {percentage} %')

percentage of values that match the codes 100.0 %

### Drop lines that are not in the codes mapped

In [10]:
clean_df = merged_dfs[merged_dfs['influence_type'].notna()]

### Group by influence type

In [11]:
clean_df.groupby('influence_type').count()

,SP_GESTOR,SP_UF,SP_AA,SP_MM,SP_CNES,SP_NAIH,SP_PROCREA,SP_DTINTER,SP_DTSAIDA,SP_NUM_PR,...,SP_PJ_DOC,IN_TP_VAL,SEQUENCIA,REMESSA,SERV_CLA,SP_CIDPRI,SP_CIDSEC,SP_QT_PROC,SP_U_AIH,description
influence_type,,,,,,,,,,,,,,,,,,,,,
Morte Materna Direta,512394,512394,512394,512394,512394,512394,512394,512394,512394,0,...,512394,512394,512394,512394,512394,512394,512394,512394,512394,512394
Morte Materna Indireta,21628,21628,21628,21628,21628,21628,21628,21628,21628,0,...,21628,21628,21628,21628,21628,21628,21628,21628,21628,21628

In [12]:
clean_df.shape

(534022, 38)

In [47]:
clean_df['main_cid'] = clean_df['SP_CIDPRI'].str[:-1]
clean_df.head()

ipykernel_launcher:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,SP_ATOPROF,SP_CIDPRI,influence_type,description,main_cid
74,409060160,O711,Morte Materna Direta,Ruptura do útero durante o trabalho de parto,O71
75,409060160,O711,Morte Materna Direta,Ruptura do útero durante o trabalho de parto,O71
76,802010199,O711,Morte Materna Direta,Ruptura do útero durante o trabalho de parto,O71
77,301010048,O711,Morte Materna Direta,Ruptura do útero durante o trabalho de parto,O71
78,301010048,O711,Morte Materna Direta,Ruptura do útero durante o trabalho de parto,O71

In [48]:
clean_df.groupby('main_cid').count()

          SP_ATOPROF  SP_CIDPRI  influence_type  description
main_cid
B2              1795       1795            1795         1795
B20             1165       1165            1165         1165
B21              117        117             117          117
B22              363        363             363          363
B23              198        198             198          198
...              ...        ...             ...          ...
O90              289        289             289          289
O91               99         99              99           99
O92                5          5               5            5
O98              169        169             169          169
O99             2369       2369            2369         2369

[68 rows x 4 columns]